*{
    margin: 0;
}

html{
    height: 200%;
    background-color: green;
}

nav{
    width:100%;
    height:80px;
    position: fixed;
    top:0;
    left:0;
    background-color: white;
    border-bottom-color: black;
    box-shadow:8px 8px;
    box-sizing: border-box;
    padding: 8px;
}

.navbox{
    background-color: black;
    width: 80px;
    height: 80px;
    position:absolute;
    right:0;
    top:0;
}

body{
    box-sizing: border-box;
    padding-top: 85px;
}

.container{
    height:800px;
    background-color: grey;
}

.box1{
    width:200px;
    height:200px;
    background-color: white;
    margin:20px;
    position: absolute;
    top:250px;
    left:100px;
}

.box2{
    width:200px;
    height:200px;
    background-color: white;
    margin:20px;
    position: absolute;
    top:500px;
    left:100px;
}

.box3{
    width:200px;
    height:200px;
    background-color: white;
    margin:20px;
    position: absolute;
    top:250px;
    right:100px;
}

.box4{
    width:200px;
    height:200px;
    background-color: white;
    margin:20px;
    position: absolute;
    top: 500px;
    right: 100px;
}

footer{
    width:100%;
    height:80px;
    position: fixed;
    bottom:0;
    left:0;
    background-color: white;
    border-top-color: black;
    border-top: 2px;
    box-sizing: border-box;
    padding: 8px;
}

footer h1{
    text-align: center;
}